[Desktop Entry]
Type=Application
Exec=sh -c /home/sgeuns/scripts/startup.sh >> /home/sgeuns/Desktop/out.txt 2>&1
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=2
Name[en_US]=StartUpScript
Name=StartUpScript
Comment[en_US]=Script to startup environment
Comment=Script to startup environment
