[global_config]
  suppress_multiple_term_dialog = True
[keybindings]
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
  [[my-layout]]
    [[[child0]]]
      fullscreen = False
      last_active_term = 940bd6bd-6b1f-4dad-ab7c-7be9df42eef0
      last_active_window = True
      maximised = True
      order = 0
      parent = ""
      position = 67:27
      size = 1853, 1053
      title = sgeuns@ubuntu-desktop-2018: ~
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 926
      ratio = 0.501082251082
      type = HPaned
    [[[child2]]]
      order = 0
      parent = child1
      position = 524
      ratio = 0.5
      type = VPaned
    [[[child5]]]
      order = 1
      parent = child1
      position = 524
      ratio = 0.5
      type = VPaned
    [[[terminal3]]]
      order = 0
      parent = child2
      profile = default
      type = Terminal
      uuid = 940bd6bd-6b1f-4dad-ab7c-7be9df42eef0
    [[[terminal4]]]
      command = ""
      directory = ""
      order = 1
      parent = child2
      profile = default
      type = Terminal
      uuid = cd30127a-55c7-4678-b4fb-fc0a87a8f7e8
    [[[terminal6]]]
      command = bash -c 'sudo apt-get update'; bash -c 'sudo apt-get -y upgrade'; bash -c 'sudo apt autoclean'; bash -c 'sudo apt autoremove'; exec bash
      directory = ~/
      order = 0
      parent = child5
      profile = default
      type = Terminal
      uuid = 2be03409-4312-4ee9-8470-ae352d3b82fc
    [[[terminal7]]]
      command = ""
      directory = ""
      order = 1
      parent = child5
      profile = default
      type = Terminal
      uuid = b1cb376b-1e1b-4d80-96a2-49feb64703d4
[plugins]
[profiles]
  [[default]]
    cursor_color = "#aaaaaa"
    scrollback_infinite = True
